<!DOCTYPE html>
<html>
<head>
  <title>Shortest Route</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="ShortestRouteApp" ng-controller="ShortestRouteController" style="background:#F4F4F4;font-family: Gravur;margin:0 auto;background-image: url('./bg.png');background-repeat: no-repeat;">

<div class="container">
  <form action="">
  <div class="row" style="margin-top:4em;">
  <div class="col-md-3">
  <div class="panel panel-info">
  <div class="panel-body"><h2 class="text-primary">Sample Data</h2>
  
    <div class="form-group">
      <textarea rows="20" cols="50" readonly  ng-model="demo" class="form-control"></textarea>
    </div>
	
</div>
</div>


</div>
  <div class="col-md-offset-1 col-md-4">
  <div class="panel panel-info">
  <div class="panel-body"><h2 class="text-primary">Shortest Route</h2>
    <div class="form-group">
      <label>Enter number of cities:</label>
      <input type="text" ng-model="shortest.number" class="form-control">
    </div>
    <div class="form-group">
      <label for="Enter Floor">Enter distance between cities:</label>
      <textarea rows="5" cols="30"  ng-model="shortest.distance" class="form-control"></textarea>
    </div>
	<div class="form-group">
      <label for="Enter Slot">Enter the origin city: (Starts from 0)</label>
      <input type="text"  ng-model="shortest.origin" class="form-control">
    </div>
	<div align="center">
	<div>
	<button ng-click="findroute()" type="button" class="btn btn-primary">Find Route</button>
	<button ng-click="getData()"  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary">Previous Data</button>
	</div>

	
	</div>
	</div>
</div>
</div>

 <div class="col-md-offset-1 col-md-3">
  <div class="panel panel-info">
  <div class="panel-body"><h2 class="text-primary">Result</h2>
  
    <div class="form-group">
      <textarea rows="5" cols="30"  ng-model="result" class="form-control"></textarea>
    </div>
    <div ng-if="result!=null" align="center">
	<button ng-click="save()" type="button" class="btn btn-primary">Save</button>
	</div>
	
</div>
</div>


</div>
  </form>
  
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Processed Data</h4>
      </div>
      <div class="modal-body">
      {{previousData}}
        <table ng-table="tableParams" class="table">
    		<tr ng-repeat="d in data track by $index">
        	<td title="'Cities'"">
            {{d.number}}</td>
        	<td title="'Distance'">
            {{d.distance.split('\n')}}</td>
            <td title="'Origin'">
            {{d.origin}}</td>
            <td title="'Result'">
            {{d.result}}</td>
    		</tr>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
</div>

</body>

<script src="lib/jquery/jquery.1.10.2.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="ngmodules/angular-route.js"></script>
<script src="ngmodules/ng-table.js"></script>
<script src="controllers/ShortestRouteApp.js"></script>
<script src="controllers/ShortestRouteController.js"></script>
<script src="lib/bootstrap/bootbox.js"></script>
<script src="lib/bootstrap/ngBootbox.js"></script>

</html>
